@font-face {
    font-family: Serif;
    src: url("../fonts/PT_Serif-Web-Regular.ttf");
}

body {
    background-color: antiquewhite;
    font-family: Serif;
}

.content_container {
    display: flex;
    flex-wrap: wrap; /*перенос на след строчку если не вмещается*/
    flex-direction: column;
    /*align-items: center;*/
    margin: 25px;
    width: auto;
    align-items: start;
}

.content_container > * {
    margin: 10px;
}

.x_input_wrapper > * {
    width: auto;
    align-items: center;
}
.y_input_wrapper {
    width: 80%;
    align-items: center;
}





/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 5px solid grey;
    width: 100%;
}

.table_wrapper {
    /*display: flex;*/
    /*justify-content: center;*/
}

/* границы ячеек первого ряда таблицы */
th {
    border: 3px solid grey;
}
/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
}

.x_input_wrapper {
    width: 80%;
}


